body{
    display: flex;
    justify-content: center;
}

.header{
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}

.container{
    display: grid;
    border-style:groove;
    border-width: thin;
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
   
}

.new-grid-block{
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: groove;
    border-radius: 0.5;
}

